body {
}
h1 {
    font-size: 4em;
}
#body {
    background-color: white;
}
#NetHeader {
    text-align: center;
}

#description {
    font-size: large;
    align-content: center;
}

#headerPicture {
}

#controlButton {
    margin: 25px;
}
#Layer {
    text-align: center;
}

#actImage {
}
#imageContent {
    text-align: center;
}
#conclusion {
    text-align: center;
}

#errorRow {
    text-align: center;
}

